<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Homepage</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/blog_common.css}">
	<link rel="stylesheet" th:href="@{/css/blog_list.css}">
</head>

<body>
	<header>
		<nav>
			<div class="menu_nav">
				<ul>
					<li><a th:href="@{/blog/list}">ホームページ</a></li>
					<li><a th:href="@{/blog/register}">新規記事</a></li>
					<li>
						<a th:href="${loggedIn ? '/logout' : '/login'}" th:text="${loggedIn ? 'ログアウト' : 'ログイン'}"></a>
					</li>
				</ul>
			</div>
			<form th:action="@{/search}" method="post" target="_blank" name="search">
				<div id="search">
					<div class="icon-search" onclick="document.forms['search'].submit()"></div>
					<input type="text" placeholder="Search..." name="query" th:value="${query}">
				</div>
			</form>
		</nav>
	</header>
	<div class="wrap-body">
		<main>
			<section>
				<div id="heading">
					<a>
						<!--${userName}さんのホームページ-->
						<h1>検索結果</h1>
					</a>
				</div>
			</section>
			<!--content-->
			<section>
				<div class="content" id="blogBox">

					<ul class="blogs">
						<!--
                        <li class="blog-content">
                            <a href="blog_edit.html" class="detail">
                                <p class="category">鳥</p>
                                <img src="img/bird2.jpeg" alt="" class="image">
                                <div class="text-content">
                                <h3 class="title">鳥の写真</h3>
                                <p class="date">2023.11.17 11:05</p>
                                <p class="article">鳥がかわいい <br>Exploring new places, experiencing diverse cultures, and capturing the beauty of our world. Join me on
                                        a journey of discovery and adventure.</p>
                                </div>
                            </a>
                        </li>

                        -->
						<li class="blog-content" th:each="blog:${blogList}">
							<a class="detail" th:href="@{/blog/edit/{blogId}(blogId=${blog.blogId})}">
								<p class="category" th:text="${blog.categoryName}"></p>
								<img th:src="@{/blog-img/{imagePath}(imagePath=${blog.blogImage})}" alt=""
									class="image">
								<div class="text-content">
									<h3 class="title" th:text="${blog.blogTitle}"></h3>
									<p class="date" th:text="${#temporals.format(blog.postedAt, 'yyyy年MM月dd日 HH:mm')}">
									</p>
									<p class="article" th:text="${blog.blogArticle}"></p>
								</div>
							</a>
						</li>

						<a th:href="@{/blogList}">戻る</a>
						<!--			
				<li th:each="blgs:${blogList}">
					<a th:href="@{/blog/edit/{blogId}(blogId=${blog.blogId})}">
						<img th:src="@{/blog-img/{imagePath}(imagePath=${blog.blogImage})}" alt="">
						<h3 th:text="${blog.blogTitle}"></h3><br>
						<p th:text="${blog.categoryName}"></p>
                        <p th:text="${blog.blogArticle}"></p>
                        <p th:text="${blog.postedAt}"></p>
					</a>
				</li>
            -->
					</ul>
				</div>
			</section>
			<section>
				<aside>
				</aside>
			</section>

		</main>
	</div>
	<footer>
		<small>&copy; PuJiongling 2023</small>
	</footer>
	<script th:src="@{/js/jQuery v3.7.1.js}"></script>
</body>

</html>