<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BlogEdit</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/blog_common.css}">
	<link rel="stylesheet" th:href="@{/css/blog_edit.css}">
</head>

<body>
	<header>
		<nav>
			<div class="menu_nav">
				<ul>
					<li class=""><a th:href="@{/blog/list}" th:text="${userName + 'のホームページ'}"></a></li>
					<li><a th:href="@{/blog/register}">新規記事</a></li>
					<li><a href="">お問合せ</a></li>
					<li><a th:href="@{/logout}">ログアウト</a></li>
				</ul>
			</div>
			<div id="search">
				<div class="icon-search"></div>
				<input type="text" placeholder="Search...">
			</div>
		</nav>
	</header>
	<div class="wrap-body">
		<main>
			<section>
				<div id="heading">
					<a th:href="@{/blog/edit}">
						<h1>記事の編集</h1>
					</a>
				</div>
			</section>
			<section>
				<div class="edit-input">
					<form th:action="@{/blog/edit/process}" method="post" enctype="multipart/form-data">
						<img id="registeredImage" th:if="${blogList.blogImage != null}"
							th:src="@{/blog-img/{imagePath}(imagePath=${blogList.blogImage})}" alt="Original Image">
						<div class="edit-details">
							<input type="hidden" name="blogId" th:value="${blogList.blogId}">
							<div class="edit-details-flex">
								<div>タイトル</div>
								<input type="text" name="blogTitle" th:value="${blogList.blogTitle}">
							</div>
							<div class="edit-details-flex">
								<div>カテゴリー</div>
								<input type="text" name="categoryName" th:value="${blogList.categoryName}">
							</div>
							<div class="edit-details-flex">
								<div>画像</div>
								<input type="file" name="blogImage" id="blogImage" onchange="handleFileSelect()">
								<img id="previewImage"
									th:src="@{/blog-img/{imagePath}(imagePath=${blogList.blogImage})}" alt="Preview">
							</div>
							<div class="edit-details-flex">
								<div>記事</div>
								<textarea name="blogArticle" th:text="${blogList.blogArticle}"></textarea>

							</div>
						</div>
						<div class="edit-details-flex">
							<input type="hidden" name="blogId">
							<button class="edit-btn">更新</button>
							<button class="back-btn" onclick="history.back();" type="button">戻る</button>
						</div>
					</form>
					<form th:action="@{/blog/delete/process}" method="post">
						<div class="edit-details-flex">
							<input type="hidden" name="blogId" th:value="${blogList.blogId}">
							<button class="delete-btn">削除</button>
						</div>
					</form>
				</div>
			</section>
		</main>
	</div>
	<footer>
		<small>&copy; PuJiongling 2023</small>
	</footer>
	<script th:src="@{/js/common.js}"></script>
	<script th:src="@{/js/jQuery v3.7.1.js}"></script>
</body>

</html>