<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Welcome</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/user_welcome.css}">
	<link rel="stylesheet" th:href="@{/css/user_common.css}">
	<script th:inline="javascript">
		var userName = /*[[${userName}]]*/ 'userName';
		console.log(userName);

		window.onload = function () {
			var count = 5;
			var display = document.getElementById("countText");

			function countdown() {
				if (count <= 0) {
					clearInterval(countdownInterval);
					window.location.href = "/login";
				} else {
					display.innerHTML = "登録が成功しました。<br>" + userName + "さん、ブログへようこそ。" + "<br>あと" + count + "秒でログイン画面に戻ります。";
					count--;
				}

			}

			var countdownInterval = setInterval(countdown, 1000);
		};



	</script>
</head>

<body>
	<header>
		<div class="navigation">
			<span>ブログ</span>
			<div class="menu-nav">
				<ul>
					<li><a href="">ホーム</a></li>
					<li><a th:href="@{/login}">ログアウト</a></li>
					<li><a href="">お問合せ</a></li>
				</ul>
			</div>
		</div>
	</header>
	<main>
		<div class="return-welcome">
			<p id="countText"></p>
		</div>
	</main>
	<footer>
		<small>&copy; PuJiongling 2023</small>
	</footer>
	<div class="bubbly"></div>
	<div class="bubbly-1"></div>
	<div class="bubbly-2"></div>
	<div class="bubbly-3"></div>
	<script th:src="@{/js/jQuery v3.7.1.js}"></script>
	<script th:src="@{/js/common.js}"></script>
</body>

</html>