<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>User Login</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/user_login.css}">
	<link rel="stylesheet" th:href="@{/css/user_common.css}">
</head>

<body>
	<header>
		<div class="navigation">
			<span>ブログ</span>
			<div class="menu-nav">
				<ul>
					<li><a th:href="@{/blog/list}">ホーム</a></li>
					<li><a th:href="@{/register}">新規登録</a></li>
					<li><a href="">お問合せ</a></li>
				</ul>
			</div>
		</div>
	</header>
	<main>
		<div class="login-container">
			<form th:action="@{/login/process}" method="post" class="login-form">
				<h2>ログイン</h2>
				<input type="email" name="userEmail" placeholder="メールアドレス" required>
				<input type="password" name="userPassword" placeholder="パスワード" required>
				<button th:class="@{login-btn}">ログイン</button>
				<div class="add">
					<p id="userMistake" th:text="${userMistake}"></p>
				</div>
				<div class="add">
					<p id="register"><a th:href="@{/register}">新規登録</a></p>
				</div>
				<div class="add">
					<p id="forgot-password">パスワードを忘れた方は<a href="">こちら</a></p>
				</div>
			</form>

		</div>
	</main>
	<footer>
		<small>&copy; PuJiongling 2023</small>
	</footer>
	<div class="bubbly"></div>
	<div class="bubbly-1"></div>
	<div class="bubbly-2"></div>
	<div class="bubbly-3"></div>

	<script th:src="@{/js/common.js}"></script>
</body>

</html>