<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>User Register</title>
	<link rel="stylesheet" th:href="@{/css/reset.css}">
	<link rel="stylesheet" th:href="@{/css/user_register.css}">
	<link rel="stylesheet" th:href="@{/css/user_common.css}">
</head>

<body>
	<header>
		<div class="navigation">
			<span>ブログ</span>
			<div class="menu-nav">
				<ul>
					<li><a th:href="@{/blog/list}">ホーム</a></li>
					<li><a th:href="@{/login}">ログイン</a></li>
				</ul>
			</div>
		</div>
	</header>
	<main>
		<div class="register-container">
			<form th:action="@{/register/process}" method="post" class="register-form">
				<h2>登録</h2>
				<input type="text" name="userName" placeholder="ユーザー名" required>
				<input type="email" name="userEmail" placeholder="メールアドレス" required>
				<input type="password" name="userPassword" placeholder="パスワード" required>
				<button>登録</button>
				<p id="userExisted" th:text="${userExisted}"></p>
				<p id="login"><a th:href="@{/login}">ログイン</a></p>
			</form>
		</div>
	</main>
	<footer>
		<small>&copy; PuJiongling 2023</small>
	</footer>
	<!--bubbly-->
	<div class="bubbly"></div>
	<div class="bubbly-1"></div>
	<div class="bubbly-2"></div>
	<div class="bubbly-3"></div>

</body>

</html>