.login-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-size: cover;
}

.login-form {
	width: 240px;
	height: auto;
	min-height: 200px;
	margin: 20px auto 0;
	display: flex;
	flex-direction: column;
	padding: 45px;
	text-align: center;
	position: relative;
	z-index: 100;
	border-radius: 18px;
	background-color: rgba(255, 255, 255, 0.702);
	overflow: hidden;
}

.login-form::before {
	content: "";
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	position: absolute;
	top: -10px;
	left: -10px;
	overflow: hidden;
	background: inherit;
	box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.25);
	filter: blur(6px);
	z-index: -1;
}

.login-form h2 {
	font-size: 20px;
	font-weight: bolder;
	color: #3d5245;
	margin: 10px 15px 20px 15px;
}

.login-form input,
.login-form button {
	margin: 10px 0;
	height: 3em;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 4px;
	padding: 0 14px;
	color: #3d5245;
	font-size: 15px;
}

.login-form input {
	border-radius: 5px;
	border: 1px solid rgb(155, 153, 153);
}

.login-form input::placeholder {
	color: #3d5245;
}

.login-form button:focus,
.login-form input:focus {
	outline: 0;
}

.login-form button {
	margin-top: 20px;
	background-color: rgba(57, 88, 69, 0.4);
	color: white;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: 0.4s;
	border: none;
}

.login-form button:hover {
	background-color: rgba(55, 163, 202, 0.67);
}

#register {
	font-size: 16.5px;
	color: #2c3c2e;
	position: absolute;
	top: 81.5%;
	bottom: 8%;
	right: 8%;
}

#forgot-password {
	font-size: 13px;
	color: #050605;
	position: absolute;
	top: 90%;
	bottom: 0;
	right: 8%;
	padding-bottom: 1px;
}

#register a {
	text-decoration: none;
	color: rgba(55, 163, 202, 0.973);
	cursor: pointer;
}

#forgot-password a {
	color: rgba(55, 163, 202, 0.973);
	cursor: pointer;
}

#register a:hover,
#forgot-password a:hover {
	color: rgba(60, 166, 227, 0.904);
}

#userMistake {
	font-size: 12.5px;
	font-weight: 500;
	color: red;
	text-align: left;
	margin: 0 0;
}

.add {
	padding-top: 5px;
}